
@media (max-width: 1800px) {
    .hero-text-box {
        left: 40%;
    }

    p {
        font-size: 90%;
        width: 55%;
    }

}

@media (max-width: 1350px) {
    .hero-text-box {
        left: 50%;
    }

    p {
        font-size: 80%;
        width: 50%;
    }

}

@media (max-width: 500px) {
    .header-img-mobile {
        display: block;
    }
    
    .header-text-box-mobile {
        display: block;
    }

    header {
        display: none;
    }

    .hero-text-box {
        width: 70%;
        left: 0%;
        position: static;
        top: 0;
        left: 0;
        -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        margin: 0 auto;
        padding: 10% 0;
        text-align: center;
    
    }

    p {
        font-size: 80%;
        width: 100%;
    }

    .countdown {
    font-size: 180%;
    transform: translate(0%, 0%);
    margin-top: 1rem;

}



div img {
    width: 100%;
    height: auto;
    transform: translate(0%, 0%);
}

.logo-title{
    text-align: center;
    padding-bottom: 20%;

    }

    .pai {
        width: 50%;
        transform: translate(0%, 0%);
    }

    .social{
        width: 100%;
        text-align: center;
        font-size: 150%;
        padding-top: 1rem;
    }

}
