/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: rgb(26, 32, 44);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

/* h1 {
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    color: #000;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
} */


p {
    font-size: 80%;
    line-height: 150%;
    margin-bottom: 1rem;
    width: 70%;
    text-align: justify;

}

/* ----- LINKS ----- */


/* ----- BUTTONS ----- */
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.btn-full:link,
.btn-full:visited {
    background-color: #1E5480;
    border: 1px solid #1E5480;
    color: #fff;
}

.btn:hover,
.btn:active {
    background-color: #4868B0;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #4868B0;
}




/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */


header {
    background-image: url(img/splash_codeml_2.jpeg);
    background-size: cover;
    background-position: left;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 40%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


div img {

    position: static;
    -webkit-transform: translate(-25%, -85%);
    -ms-transform: translate(-25%, -85%);
    transform: translate(-25%, 15%);
    width: 25%;
    height: auto;
}

.pai {
    width: 15%;
    height: auto;
    transform: translate(-25%, -15%);
}
.countdown {
    /* position: static;
    -webkit-transform: translate(35%, -30%);
    -ms-transform: translate(35%, -250%);
    transform: translate(18%, -200%); */
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(26, 32, 44);;
    font-size: 190%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.event-title {
    font-weight: 900;
    color: rgb(26, 32, 44);;
    font-size: 190%;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.event-description {
    font-weight: 600;
    color: rgb(26, 32, 44);;
    margin-bottom: 1rem;

}
/* #text-countdown {
    position: absolute;
    width: 1140px;
    top: -60%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    font-weight: 300;
    text-transform: uppercase;
    color: #000;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
} */


.header-img-mobile {
    display: none;
}

.header-img-mobile img {
        max-width: 100%;
        height: auto;
}

.header-text-box-mobile {
    display: none;
}

.logo-title{
position: relative;
}

.commanditez-nous {
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    outline: none;
    color: #1E5480;
    font-family: "Inter",sans-serif;
    font-weight: 400;


}
.social{
    position: absolute;
    left: 700px;
    text-align: right;
    font-size: 150%;
    padding-top: 1rem;
}
.date {
    font-weight: 600;
    margin-bottom: 1rem;
}