@import '../../scss/variables.scss';
.speakers {
    background: transparent;
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $text-light;

    .speaker-wrapper {
        margin: auto;
        display: flex;
        width: min-content;
        padding-top: 10%;
        padding-bottom: 8px;
        background-color: rgba($background-dark, 0.6);
        border-radius: 8px;
    }

    .active {
        background-color: $primary;
    }

    h6 {
        color: $text-light;
        text-align: center;
    }
}
