.nav-container {
    background-color: #000022;
}

.nav-row {
    max-width: 1140px;
    background-color: #000022;
    height: 100px;
    margin: 0 auto;
}

.main-nav {
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    margin-top: 25px;
}

.a {
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.main-nav li .a:link,
.main-nav li .a:visited {
    color: #ffffff;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li .a:hover,
.main-nav li .a:active {
    padding-bottom: 5px;
    border-bottom: 2px solid #04cfda;
    color: #fff;
    text-decoration: none;
}

.nav-logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 0px;
    margin-left: 30px;
}


/* voir qui depasse la taille qu'il faut */

body {
    overflow-x: hidden;
}